In [1]:
# Importing dependencies
import pandas as pd

In [8]:
# Reading in the vine_table.csv file that we originally uploaded into pgAdmin
vine_table_df = pd.read_csv("vine_table.csv")

# Viewing the first 10 rows of the vine_table DataFrame
vine_table_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3O9SGZBVQBV76,5,0,0,N,Y
1,RKH8BNC3L5DLF,5,0,0,N,Y
2,R2HLE8WKZSU3NL,2,1,1,N,Y
3,R31U3UH5AZ42LL,5,0,0,N,Y
4,R2SV659OUJ945Y,4,0,0,N,Y
5,RA51CP8TR5A2L,5,0,0,N,Y
6,RB2Q7DLDN6TH6,5,1,1,N,Y
7,R2RHFJV0UYBK3Y,1,1,5,N,N
8,R2Z6JOQ94LFHEP,5,1,2,N,Y
9,RX27XIIWY5JPB,4,0,0,N,Y

In [37]:
# Filtering the vine_table_df to keep only the rows where total_votes is greater than or equal to 20
filtered_votes_df = vine_table_df.loc[vine_table_df['total_votes'] >= 20]

# Showing the first 10 rows of the new DataFrame
filtered_votes_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1025,R6F9VY91ADPLA,1,8,30,N,N
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y
1615,R20NYA5V0UF9NE,5,27,28,N,Y
2304,R2X8FZRUOS8R8C,4,25,26,N,Y
2763,R2D8IMBVX3XCLF,1,14,20,N,Y
2937,R25UD9TA63L3Q8,5,25,27,N,Y

In [38]:
# Filtering filtered_votes_df to keep only the rows in which the number of helpful_votes divded by total_votes
# is greater than or equal to 50% (0.5)
helpful_total_ratio = filtered_votes_df.loc[(filtered_votes_df['helpful_votes'] / filtered_votes_df['total_votes']) >= 0.5]

# Showing the first rows of the new DataFrame
helpful_total_ratio.head(50)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y
1615,R20NYA5V0UF9NE,5,27,28,N,Y
2304,R2X8FZRUOS8R8C,4,25,26,N,Y
2763,R2D8IMBVX3XCLF,1,14,20,N,Y
2937,R25UD9TA63L3Q8,5,25,27,N,Y
3102,R2RB1HML8N712P,5,26,28,N,Y
3205,ROXA8XP5EI2KK,5,48,49,N,N
3594,R149IHTGGSRGX9,5,19,20,N,Y
4122,R1B7M0OP3UNP6O,5,49,52,Y,N
4196,R2N92CUM7WBA1A,5,27,28,N,Y
4357,R2TAFZNG4KHFQB,4,24,24,N,Y
4420,RNRFACS48ZE4A,5,21,21,N,Y
4490,R2PO5QTLXJ9LHG,5,33,46,N,N
5647,R38KDT041DRMIN,5,19,24,N,Y
5664,R2MNPDWCA42I4G,1,17,20,N,N
5997,R3F3KMKY26K620,4,25,26,N,Y
7193,R2PU32HT6X9DOM,5,23,24,N,Y
7377,R1E96GHLGQ5H9D,5,22,22,N,Y
7567,R33BKAVFS3HJ97,5,22,23,N,N
7737,R32EUTQ34MNG1W,1,26,32,N,Y
8270,RDOUTLIOKLLR1,1,33,37,N,Y
8655,R3BFHNMC7PBKS,5,26,28,N,Y
8831,R2OVUP87N4WPZ0,1,14,25,N,Y
8913,R3G6S19I8AUY52,5,33,36,N,Y
9118,R3GTXBI2ZMEEVF,1,26,30,N,Y
9151,R3DRNQOUII2XD0,5,40,41,N,Y
9265,R38IZ388XPSPWS,5,110,114,N,Y
9286,R2QTJNPQ8TS8NB,5,22,22,N,N
9337,R3E9JEHWIFZDZM,5,23,25,N,Y
10667,R2ELDDWS10LM09,4,26,26,N,Y
10723,RGG6ZLOKF96LP,1,32,38,N,Y
10824,R36933MDOWDCRQ,1,30,37,N,Y
10872,R2EMS1JQLS9R2K,4,23,23,N,Y
11011,R12EQ9DPFG2LR2,5,20,24,N,Y
11297,RI69KTJ4G3W5W,3,51,60,N,Y
11719,R2MMITO5FTWPLI,5,67,68,N,Y
11849,R2DOHUQGQG3VNN,1,93,102,N,N
11870,R26BQYKDHIVURL,4,44,44,N,Y
11916,R17Y5TRDSPXJZC,5,19,21,N,Y
11934,R2ZK070EW5D3B8,5,46,48,N,N
13043,R3F36SYF4IX7EF,5,32,33,N,Y
13210,R1OM2HXPW2G9MH,5,17,20,N,N
13913,RQ6FWT4LHEPX,5,36,36,N,Y
14138,RS7KJA38N1FMD,5,90,96,N,Y
15127,R5MP6AATGEZWR,5,24,24,N,Y
15808,R1GKWX6YBZRK4N,5,22,27,N,Y

In [39]:
# Filtering help_total_ratio to keep only the rows in which the vine column has a value of "Y"
paid_reviews_df = helpful_total_ratio.loc[helpful_total_ratio['vine'] == "Y"]

# Showing the first 10 rows of written_reviews_df
paid_reviews_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4122,R1B7M0OP3UNP6O,5,49,52,Y,N
334756,R2UUV4UGGYMQG8,5,34,39,Y,N
428946,R9K0LZV2BK9YY,4,37,39,Y,N
477323,R2OVFLNEUEGTJM,3,18,25,Y,N
664604,RBE09ELJ77LQ0,5,44,45,Y,N
664708,R3867T8AIJJHM6,5,26,27,Y,N
670569,R1FNVUXPU63WOZ,4,43,48,Y,N
675842,R25XGG2G12SE1Z,4,20,23,Y,N
675878,R3JKU4HRDFZDH,4,27,30,Y,N
675929,R2PQYOCJXRB1BF,5,26,28,Y,N

In [40]:
# Filtering helpful_total_ratio to keep only the rows in which the vine column has a value of "N"
unpaid_reviews_df = helpful_total_ratio.loc[helpful_total_ratio['vine'] == "N"]
unpaid_reviews_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y
1615,R20NYA5V0UF9NE,5,27,28,N,Y
2304,R2X8FZRUOS8R8C,4,25,26,N,Y
2763,R2D8IMBVX3XCLF,1,14,20,N,Y
2937,R25UD9TA63L3Q8,5,25,27,N,Y
3102,R2RB1HML8N712P,5,26,28,N,Y

In [88]:
# Determining the total number of paid/unpaid Amazon reviews 
total_paid_reviews = paid_reviews_df["review_id"].count()
total_unpaid_reviews = unpaid_reviews_df["review_id"].count()

print("Total number of paid Amazon reviews: " + str(total_paid_reviews))
print("Total number of unpaid Amazon reviews: " + str(total_unpaid_reviews))

Total number of paid Amazon reviews: 47
Total number of unpaid Amazon reviews: 8362

In [89]:
# Determining the number of paid/unpaid 5 star reviews
paid_5_star = paid_reviews_df.loc[paid_reviews_df['star_rating'] == 5]['star_rating'].count()
unpaid_5_star = unpaid_reviews_df.loc[unpaid_reviews_df['star_rating'] == 5]['star_rating'].count()

print("Number of paid five star reviews: " + str(paid_5_star))
print("Number of unpaid five star reviews : " + str(unpaid_5_star))

Number of paid five star reviews: 15
Number of unpaid five star reviews : 4332

In [91]:
# Determining the percentage of paid 5 star reviews to total paid reviews
prct_of_paid = (paid_5_star / total_paid_reviews) * 100
print("Percentage of paid five star reviews to total paid reviews: " + str(prct_of_paid) + "%")

# Determining the percentage of unpaid 5 star reviews to total unpaid reviews
prct_of_unpaid = (unpaid_5_star / total_unpaid_reviews) * 100
print("Percentage of unpaid five star reviews to total unpaid reviews: " + str(prct_of_unpaid) + "%")

Percentage of paid five star reviews to total paid reviews: 31.914893617021278%
Percentage of unpaid five star reviews to total unpaid reviews: 51.80578808897393%